.content-padding { 
  padding-left: 200px;
  padding-right: 200px;
}

.gray-light {
  color: #efe4e4;
}

.ss-100 {
  width: 50% !important;
}

@media screen and (max-width: 600px) {
  .content-padding { 
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .ss-100 {
    width: 100% !important;
  }
}
